 @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&display=swap'); 


 h1{
    color: black;
    position: relative;
    text-align: center;
    font-size: 120px;
    padding: 139px;
    font-family: 'Bebas Neue', cursive;
   font-family: 'Lobster', cursive;
   

}
h2{
    color: black;
    position: relative;
    text-align: center;
    font-size: 100px;
    padding: 0px;
    font-family: 'Bebas Neue', cursive;
   font-family: 'Lobster', cursive;
}
.slider-btn{
    margin-left: 20px;
}
.slider-btn btn{
    background: red;
    color: aliceblue;
    border-radius: 0;
    padding: 1.5rem 2rem;
    font-size: 1rem;
}
.loties{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -200px;
    
}
.main h1{
    background-color: black;
    color: aliceblue;
    font-size: 110px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 75px;
    text-decoration: underline;
    
}
.carousel-item{
height: 200px;
width: 200px;
}
